.sidebar {
    width: 260px;
    height: 100vh;
    background-color: var(--bg-secondary);
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.sidebar button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    color: var(--text-primary);
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
}

.sidebar button:hover {
    background-color: var(--hover-color);
}

.history li {
    color: var(--text-primary);
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.history li:hover {
    background-color: var(--hover-color);
}

.highlighted {
    background-color: var(--hover-color) !important;
}

.sign p {
    color: var(--text-secondary);
    text-align: center;
    font-size: 0.8rem;
}